<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LineupX - Task
        link(rel="stylesheet", href="/app.css")
        block script
            script(src="/app.js")
    body
        include navbar.pug

        .container
            block content
