nav.navbar.is-light
    .container
        .navbar-brand
            a.navbar-item.is-size-4(href="") LineupX
        .navbar-menu
            .navbar-end
                .navbar-item
                    .buttons
                        if name
                            a.button.is-primary(href="/auth/login/decide")
                                strong Dashboard
                            a.button.is-danger.is-outlined(href="/auth/logout")
                                strong Logout
                        else
                            a.button.is-primary(href="/auth/login/decide")
                                strong Login
