nav.navbar.is-light
    .container
        .navbar-brand
            a.navbar-item.is-size-4(href="") LineupX
        .navbar-menu
            .navbar-end
                .navbar-item
                    .buttons
                        a.button.is-primary(href="/auth/login/decide")
                            strong Login
